<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549979493097-kra0csmfjjv4lggdq03d43tdig72cohe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549979493097-kra0csmfjjv4lggdq03d43tdig72cohe</string>
	<key>API_KEY</key>
	<string>AIzaSyD9LFhv95VAgb3bLLm6Bu7txXx2B44z32o</string>
	<key>GCM_SENDER_ID</key>
	<string>549979493097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ugroup.upray</string>
	<key>PROJECT_ID</key>
	<string>upray-f90d5</string>
	<key>STORAGE_BUCKET</key>
	<string>upray-f90d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549979493097:ios:d5a354efddaa0a12ae5678</string>
	<key>DATABASE_URL</key>
	<string>https://upray-f90d5-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>